input {
	background-color: black;
	color: red;
	border-radius: 10px;
	width: 60px;
	height: 20px;
	justify-content: center;
	align-items: center;
}

p,
h1 {
	background-color: black;
	color: red;
	border-radius: 7px;
	padding: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: auto;
	/* border-style: solid;
	border-color: black; */
	border: solid, black, 2px;
}

p:hover {
	background-color: white;
	color: black;
	border-style: solid;
	border: solid, black, 2px;
}

table,
th,
td {
	border: 1px solid grey;
	border-collapse: collapse;
	padding: 5px;
}

/* table tr:nth-child(odd) {
	background-color: #f1f1f1;
}

table tr:nth-child(even) {
	background-color: #ffffff;
} */

select {
	background-color: black;
	color: red;
	border-radius: 5px;
	width: 100px;
	height: 30px;
	justify-content: center;
	align-items: center;
}

select:hover {
	background-color: white;
	color: black;
	border-style: solid;
	border: solid, black, 2px;
}